{% extends 'layouts/base.html' %}

{% block content %}
<title> {% block title %} Inicio {% endblock %}</title>
<h1>HOME</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel officia fugit ipsa. Deleniti id omnis sapiente repudiandae totam facere quia commodi voluptatum nisi minima eos ipsa ex nulla, suscipit nemo.
Suscipit quasi molestiae maiores, enim minus quam. Itaque tempora sint exercitationem ipsum facilis? Illo quaerat illum tempora aspernatur rerum, officia id? Quis, ullam aliquid quasi possimus adipisci facilis excepturi repudiandae?
Accusamus euoluptas ratione labore officiis eius minima praesentium mollitia sint? Cum omnis cumque blanditiis harum quibusdam necessitatibus sunt, repellendus accusantium ipsum quam, nisi minima eius placeat dolores, nostrum molestias.</p>
{% endblock %}